.container {
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.body {
  text-align: right;
}

.slider {
  margin-bottom: 30px;
  width: 100%;
}
.card {
  width: 278px;
  height: 323px;
  background-color: var(--c-card-bg);
  border-radius: 5px;
  padding: 53px 30px;
  transition: all 0.2s;
  &:hover {
    background-color: var(--c-secondary);
    box-shadow: 0 3px 6px var(--c-secondary);
    color: var(--c-white);
    cursor: pointer;

    & > * {
      color: var(--c-white);
    }
  }
}

.logo {
  width: 63px;
  height: 63px;
  border-radius: 63px;
  background: #eaeef5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--f-title);
  margin-bottom: 28px;
}

.title {
  font-size: var(--f-medium);
  font-weight: 500;
}

.secondary {
  font-size: var(--f-small);
  color: var(--c-gray);
  margin-top: 18px;
  margin-bottom: 24px;
}

.apply {
  font-size: var(--f-small);
  font-weight: 500;
  color: var(--c-primary);

  svg {
    margin-left: 8px;
    vertical-align: text-top;
  }
}
