:root {
  /* Colors */
  --c-primary: #bc202d;
  --c-secondary: #5382a1;
  --c-black: #000000;
  --c-white: #ffffff;
  --c-social: #2e688d;
  --c-light: #f8fbfd;
  --c-card-bg: #2565d30d;
  --c-gray: #979197;
  --c-input-border: #e2e5ed;
  --c-header-shadow: #00000040;
  --c-checkbox-shadow: #131f151a;
  --c-checkbox-label: #3e3f42;

  /* Variables */
  --header-height: 85px;

  --f-small: 11px;
  --f-normal: 13px;
  --f-medium: 15px;
  --f-big: 17px;
  --f-title: 28px;
  --f-big-title: 40px;
}

@media (--t) {
  :root {
    /* Variables */
    --header-height: 94px;

    --f-small: 14px;
    --f-normal: 16px;
    --f-medium: 18px;
    --f-big: 20px;
    --f-title: 36px;
    --f-big-title: 50px;
  }
}
