.section {
  position: relative;
  padding-top: 45px;
  padding-bottom: 45px;
  scroll-margin-top: var(--header-height);

  & > div {
    display: flex;
    align-items: center;
  }
}
.full {
  /* padding-top: 0; */
  /* padding-bottom: 0; */
  margin-top: 25px;
  height: calc(100vh - var(--header-height) - 25px);
}
.lightBg {
  background-color: var(--c-light);
}
.column {
  & > div {
    flex-direction: column;
  }
}
.left {
  margin-right: 86px;
}
.right {
  margin-left: 86px;
  order: 2;
}

.name {
  font-weight: 500;
  color: var(--c-primary);
  margin-bottom: 6px;
}
.title {
  font-size: var(--f-title);
  font-weight: 500;
}
.bigTitle {
  font-size: var(--f-big-title);
  font-weight: 300;

  b {
    font-weight: 500;
  }
}
.desc {
  font-size: var(--f-normal);
  color: var(--c-gray);
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 30px;
}
.bigDesc {
  color: var(--c-black);
  font-size: var(--f-big);
  line-height: 24px;
}

.image {
  width: 558px;
  height: 487px;
}
