.section {
  position: relative;
  padding-top: 45px;
  padding-bottom: 45px;
  scroll-margin-top: var(--header-height);

  & > div {
    display: flex;
    align-items: center;
    flex-direction: column;

    @media (--t) {
      flex-direction: row;
    }
  }
}
.full {
  /* padding-top: 0; */
  /* padding-bottom: 0; */
  margin-top: 25px;
  height: calc(100vh - var(--header-height) - 25px);
}
.lightBg {
  background-color: var(--c-light);
}
.column {
  & > div {
    flex-direction: column;
  }
}
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  @media (--t) {
    text-align: left;
    display: block;
  }
}
.left {
  margin-bottom: 30px;

  @media (--t) {
    margin-right: 86px;
    margin-bottom: 0;
  }
}
.right {
  margin-top: 30px;
  order: 2;

  @media (--t) {
    margin-top: 0;
    margin-left: 86px;
  }
}

.name {
  font-weight: 500;
  color: var(--c-primary);
  margin-bottom: 6px;
}
.title {
  font-size: var(--f-title);
  font-weight: 500;
}
.bigTitle {
  font-size: var(--f-big-title);
  font-weight: 300;

  b {
    font-weight: 500;
  }
}
.desc {
  font-size: var(--f-normal);
  color: var(--c-gray);
  margin-top: 24px;
  margin-bottom: 24px;
  line-height: 30px;
}
.bigDesc {
  color: var(--c-black);
  font-size: var(--f-big);
  line-height: 24px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: contain;

  @media (--t) {
    width: 558px;
    height: 487px;
  }
}
