.nav {
  display: flex;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none;

  @media (--t) {
    overflow: hidden;
    width: auto;
  }

  & > li {
    white-space: nowrap;

    @media (--t) {
      white-space: initial;
      line-height: var(--header-height);
    }

    &:hover ul {
      height: auto;
      visibility: visible;
    }
  }

  & > li + li {
    margin-left: 41px;
  }

  a {
    font-weight: 500;
    position: relative;

    svg {
      vertical-align: middle;
      font-size: var(--f-small);
      margin-left: 4px;
    }
  }
}

.dropdown {
  height: 0;
  visibility: hidden;
  position: absolute;
  box-shadow: 0px 1px 2px #00000014;
  border: 1px solid #d8dce6;
  border-radius: 4px;
  background: var(--c-white);
  z-index: 999;
  color: var(--c-black);

  li {
    line-height: initial;

    a {
      font-size: var(--f-small);
      display: block;
      padding: 10px;
      width: 150px;
    }
  }
}

.activeLink::before {
  content: '';
  position: absolute;
  top: -118px;
  left: 50%;
  transform: translateX(-50%);

  @media (--t) {
    content: url('/active-header.svg');
  }
}
.footer {
  flex-wrap: wrap;

  li {
    line-height: initial;
  }

  li + li {
    margin-left: 25px;
  }

  a {
    font-size: var(--f-small);
    font-weight: 400;
    line-height: 20px;
  }

  .activeLink::before {
    content: '';
  }
}
